<section id="education" class="section">
  <div class="container content content-top content-bottom">
    <div class="row">
      <div class="col-xs-12 text-center louder">
        <h1>Certifications</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Professional Scrum Master I <small>PSM I</small></h2>
        <p>The Professional Scrum Master&trade;	level I (PSM I) certification validates a depth knowledge of the Scrum framework and its application. It is the industry recognized PSM I Certification to demonstrate mastery of the content of the Scrum Guide&trade;</p>
        <p>I have been using Scrum and scaled Scrum since 2011; In addition, <a href="https://lnkd.in/dQeztta" target="_blank">it took me three months of study and practice</a> to prepare to take the exam and obtain the certificate on March 2018.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <a href="https://www.scrum.org/user/321165" target="_blank"><img src="assets/img/certifications/psm-i-alexis-bravo-small.jpeg" class="img-responsive img-rounded img-thumbnail" /></a>
      </div>
    </div>
  </div>
</section>
