<section id="about-me" class="section section-even">
  <div class="container content content-top content-bottom louder">
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h1>About me</h1>
        <hr>
        <h2>Who am I?</h2>
        <p>I'm <strong>Alexis Bravo</strong>, a 33 years old <strong>Informatics Engineer</strong> based on Ecuador, who is passionate about Web Development, coding, reading, learning, running and hiking</p>
        <p>I'm also a perfectionist  who is always trying to learn new things and to make his work as good as possible</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>What do I do?</h3>
        <p>I consider myself a  programmer that knows how to make his applications not only works, but also looks great. Yes, as a developer, I'm not only worried about the functionality, usability, scalability and maintainability of my work, but the look and feel of it too.</p>
        <h3>What have I been doing?</h3>
        <p>I spent the first five years of my professional career developing Web Applications in different companies using PHP and Ruby with CakePHP and Ruby on Rails, respectively; in the last six years, I've been working with Java, Java EE and Angular.</p>
        <h3>What am I going to do?</h3>
        <p>I'm always actively looking for new places and opportunities to apply all of my knowledge and experience in software development and continue learning and forming myself as a Full Stack Web Developer.</p>
      </div>
    </div>
  </div>
</section>
