<section id="experience" class="section section-even">
  <div class="container content content-top content-bottom">
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h1>Experience</h1>
        <h3>Developing software since 2004</h3>
      </div>
      <div class="col-xs-12 col-md-6 louder col-md-offset-1 content-right">
        <p>I spent the first five years of my professional career developing Web Applications in different companies using PHP and Ruby with CakePHP and Ruby on Rails, respectively; in the last six years, I've been working with Java, Java EE and Angular.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2><a href="https://www.galapagosislands.com/" target="_blank">Galapagos Travel Center</a> <small>Sep 2017 -</small></h2>
        <p>A worldwide important touristic operator and the world’s most well known source for useful information and tips about visiting the Galapagos Islands</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>Senior Web Programmer  <small>Software Development Department</small></h3>
        <ul class="list-unstyled">
          <li>Implementation and implantation of the company's E-commerce and marketplace platforms to promote and sell cruises in the Galapagos Islands, using Angular 6, TypeScript, and RESTful services with Java and Jersey (JAX-RS).</li>
          <li>Development and maintenance of RESTful services for the company's medular application, for managing cruises and its itineraries, using Java and JAX-RS (Jersey) with Glassfish Servers.</li>
          <li>Implementation of monitoring mechanism of users' activity in the company's Web applications, using Angular 2 with Typescript, MongoDB databases, hosted in Mongo Cloud and served through RESTFul services provided by Mongo Stitch platform.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2><a href="http://epa.biz/" target="_blank">Ferreter&iacute;a EPA</a> <small>Nov 2011 - Jul 2017</small></h2>
        <p>The biggest home improvement supplies retailing company in Venezuela which also has several stores in Costa Rica, El Salvador and Guatemala</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>Quality Assurance Coordinator  <small>QA Department</small></h3>
        <ul class="list-unstyled">
          <li>Coordination and training of automated tests development team</li>
          <li>Analysis, design and implementation of framework to automate regression and acceptance tests of Web applications, using Java, Selenium, JUnit and Fitnesse.</li>
        </ul>
        <h3>System Analyst <small>Visual Modeling Team</small></h3>
        <ul class="list-unstyled">
          <li>Development of purchasing, dispatching, inventory, counting and supply modules of the company's integrated business process management system, using the Open Source Web ERP Compiere, which works over the Java EE platform.</li>
          <li>Design of a Web report presentation standard, and implementation of it through cascading style sheets and BIRT templates.</li>
        </ul>
        <h3>Programmer Analyst  <small>Purchasing System</small></h3>
        <ul class="list-unstyled">
          <li>Implementation, maintenance and support of the company's Web Purchasing system, which works on the Java EE platform.</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>LIDESoft <small>May 2007 - Nov 2011</small></h2>
        <p>It was a small Software Development Company focused on create solutions for the pharmaceutical and education sector</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>Project Engineer  <small>Project Department</small></h3>
        <ul class="list-unstyled">
          <li>Development of many different Web Applications for the education sector.</li>
          <li>Security, functionality and usability improvements in legacy Web Applications developed by the department.</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>DEM <small>May 2006 - May 2007</small><br><small>Part-time job</small></h2>
        <!--<p>Es el órgano auxiliar del Tribunal Supremo de Justicia, que tiene como finalidad ejercer por delegación las funciones de dirección, gobierno, administración, inspección y vigilancia  del Poder Judicial Venezolano</p>-->
        <p>It is the administrative section of the Supreme Court of Justice, whose purpose is to apply the functions of management, government, administration, inspection and surveillance of the Venezuelan Judicial Branch</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>Programmer Analyst <small>Informatics Development Department</small></h3>
        <ul class="list-unstyled">
          <li>Security, functionality and usability improvements in legacy Web Applications of the institution.</li>
          <li>User Interface standardization of the Web Applications of the institution.</li>
          <li>Development of many different Web Applications to be used in the Intranet of the Venezuelan Judicial Branch.</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>SSA Consultores <small>Sep 2004 - Sep 2005</small><br><small>Part-time job</small></h2>
        <p>It was an independent health, safety and environmental consulting company</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>Programmer <small>Development Team</small></h3>
        <ul class="list-unstyled">
          <li>Development of a Web Application that manages corrective actions, which was implemented on oil companies like Shell, Ameriven and Perenco.</li>
          <li>Development of Web application that improves the detection and management of bugs of applications developed by the company.</li>
          <li>Project leader developing an E-learning Web application that will be used in the oil company <em>Shell de Venezuela</em>.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
