<section id="skills" class="section">
  <div class="container content content-top content-bottom">
    <div class="row">
      <div class="col-xs-12 louder text-center">
        <h1>Skills</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Back-End Technologies</h2>
        <p>I have had to work with different languages, platforms and frameworks in many different projects, depending on the needs of each one of them</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>Java <small>Expert</small></h3>
        <h3>Spring <small>Advanced</small></h3>
        <h3>Node JS <small>Intermediate</small></h3>
        <h3>Ruby <small>Intermediate</small></h3>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>Java EE <small>Basic</small></h3>
        <h3>Spring Boot <small> Advanced</small></h3>
        <h3>Express JS <small>Intermediate</small></h3>
        <h3>Ruby On Rails <small>Intermediate</small></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Front-End Technologies</h2>
        <p>Although I am a Back-End developer, I always enjoy to contribute in the Front-End development process of the projects</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>Angular 2+<small>Advanced</small></h3>
        <h3>HTML <small>Advanced</small></h3>
        <h3>Javascript <small>Basic</small></h3>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>TypeScript <small>Advanced</small></h3>
        <h3>CSS <small>Advanced</small></h3>
        <h3>React JS <small>Basic</small></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Software Architectures</h2>
        <p>Experience with several Software Architectures.</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>Microservice<small>Advanced</small></h3>
        <h3>Event-driven <small>Advanced</small></h3>
        <h3>REST <small>Advanced</small></h3>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>SOA <small>Advanced</small></h3>
        <h3>Layered <small>Advanced</small></h3>
        <h3>Monolithic <small>Advanced</small></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Agile Methods</h2>
        <p>I have had always worked with Agile Methods and SCRUM is the one that I prefer</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h3>SCRUM <small>Expert</small></h3>
        <h3>Extreme Programming <small>Advanced</small></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Automation tools, CI/CD</h2>
        <p>I have used several tools in my work, where these have been the most relevant of them</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>GIT <small>Advanced</small></h3>
        <h3>Gradle <small>Intermediate</small></h3>
        <h3>Jenkins <small>Intermediate</small></h3>
        <h3>CodeCommint <small>Basic</small></h3>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>AWS CodePipeline <small>Basic</small></h3>
        <h3>Maven <small>Intermediate</small></h3>
        <h3>AWS CodeBuild <small>Basic</small></h3>
        <h3>AWS CodeDeploy <small>Basic</small></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Cloud Computing</h2>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>AWS EC2<small>Intermediate</small></h3>
        <h3>Heroku <small>Basic</small></h3>
        <h3>MongoDB Cloud <small>Basic</small></h3>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>Azure Kubernets <small>Basic</small></h3>
        <h3>AWS S3 <small>Intermediate</small></h3>
        <h3>AWS EBS <small>Intermediate</small></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Unit And Automated Testing</h2>
        <p>I have had to use a wide range of technologies to automate tests of several Web Applications</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>JUnit <small>Intermediate</small></h3>
        <h3>Spock <small>Advanced</small></h3>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>Selenium <small>Advanced</small></h3>
        <h3>Cucumber <small>Intermediate</small></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Databases Management Systems</h2>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>IBM DB2 <small>Advanced</small></h3>
        <h3>MongoDB <small>Intermediate</small></h3>
        <h3>Redis <small>Intermediate</small></h3>
        <h3>HBase <small>Basic</small></h3>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>MySQL <small>Advanced</small></h3>
        <h3>Postgre SQL <small>Intermediate</small></h3>
        <h3>DocumentDB <small>Intermediate</small></h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Languages</h2>
        <p>Spanish is my native language and English my second one. I have excellent reading, writing and conversational skills in both of them</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>English <small>Acvanced (C1)</small></h3>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>Spanish <small>Native</small></h3>
      </div>
    </div>

  </div>
</section>
