<section id="skills" class="section">
  <div class="container content content-top content-bottom">
    <div class="row">
      <div class="col-xs-12 louder text-center">
        <h1>Skills</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Languages</h2>
        <p>Spanish is my native language and English my second one. I have excellent reading, writing and conversational skills in both of them</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h3>Spanish <small>Native</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">100% Advanced (Native Language)</span></div>
        </div>
        <h3>English <small>Second Language</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="sr-only">90% Advanced (Second Language)</span></div>
        </div>
        <h3>French <small>Very Basic</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"><span class="sr-only">10% Advanced (Very basic)</span></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Front-End Technologies</h2>
        <p>Although I am a Back-End developer, I always enjoy to contribute in the Front-End development process of the projects</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>HTML <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">100% Advanced</span></div>
        </div>
        <h3>CSS <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="sr-only">90% Advanced</span></div>
        </div>
        <h3>Javascript <small>Basic</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"><span class="sr-only">30% Basic</span></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>Bootstrap <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"><span class="sr-only">85% Advanced</span></div>
        </div>
        <h3>Sass <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Intermediate</span></div>
        </div>
        <h3>JQuery <small>Very Basic</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"><span class="sr-only">10% Very Basic</span></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Back-End Technologies</h2>
        <p>I have had to work with different languages, platforms and frameworks in many different projects, depending on the needs of each one of them</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>Java <small>Intermediate - Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Advanced</span></div>
        </div>
        <h3>PHP <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%"><span class="sr-only">55% Intermediate</span></div>
        </div>
        <h3>Ruby <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%"><span class="sr-only">55% Intermediate</span></div>
        </div>
        <h3>Compiere ERP <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="sr-only">90% Advanced</span></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>Java Server Faces <small>Basic</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="sr-only">20% Basic</span></div>
        </div>
        <h3>CaKePHP <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Intermediate</span></div>
        </div>
        <h3>Ruby On Rails <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Intermediate</span></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Agile Methodologies</h2>
        <p>I have had always worked with Agile Methodologies and SCRUM is the one that I prefer</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <h3>SCRUM <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">100% Advanced</span></div>
        </div>
        <h3>Extreme Programming <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">100% Advanced</span></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Tools</h2>
        <p>I have used several tools in my work, where these have been the most relevant of them</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>GIT <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Intermediate</span></div>
        </div>
        <h3>Maven <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"><span class="sr-only">70% Intermediate</span></div>
        </div>
        <h3>BIRT Reports <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"><span class="sr-only">95% Advanced</span></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>SVN <small>Basic</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"><span class="sr-only">40% Basic</span></div>
        </div>
        <h3>Bower <small>Basic</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"><span class="sr-only">30% Basic</span></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Web Tools, Software and IDE's</h2>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>Google Apps <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">100% Advanced</span></div>
        </div>
        <h3>LucidChart <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">100% Advanced</span></div>
        </div>
        <h3>Adobe Fireworks <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"><span class="sr-only">85% Advanced</span></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>GitHub <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="sr-only">90% Advanced</span></div>
        </div>
        <h3>Yodiz <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Advanced</span></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h2>Unit And Automated Testing</h2>
        <p>I have had to use a wide range of technologies in order to test and automate tests of several Web Applications</p>
      </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1">
        <h3>JUnit <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Intermediate</span></div>
        </div>
        <h3>Fitnesse <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Intermediate</span></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>Selenium <small>Advanced</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"><span class="sr-only">85% Advanced</span></div>
        </div>
        <h3>FIT <small>Intermediate</small></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Intermediate</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
