<section id="education" class="section">
  <div class="container content content-top content-bottom">
    <div class="row">
      <div class="col-xs-12 text-center louder">
        <h1>Education</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h2>College<br> <small>University Level Degrees</small></h2>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>Informatics Engineer<br>
          <small>Universidad Tecnol&oacute;gica del Centro</small>
        </h3>
        <h3>Advanced Technician, University Level in Informatics<br>
          <small>Universidad Tecnol&oacute;gica del Centro</small>
        </h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h2>Languages and Communication<br> <small>Courses and Conversation Clubs</small></h2>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>English Conversation Club <small>2016</small><br>
          <small><strong>Maracay English Club</strong></small>
        </h3>
        <h3>Advanced English Course <small>2015 - 2016</small><br>
          <small><strong>The Language College</strong>. 120 hours</small>
        </h3>
        <h3>Basic English Course <small>2013 - 2014</small><br>
          <small><strong>Funcaci&oacute;n Universidad de Carabobo</strong>. 310 hours</small>
        </h3>
        <h3>French Basic Course <small>2015 - 2016</small><br>
          <small><strong>Alliance Française Venezuela</strong>. 80 hours</small>
        </h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h2>Java Platform<br> <small>Java SE and EE Courses</small></h2>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>Developing Applications for the Java EE 6 Platform Ed2 <small>2014</small><br>
          <small><strong>Oracle University</strong>. 40 hours.</small>
        </h3>
        <h3>Java SE 7 Programming Ed2 PRV <small>2014</small><br>
          <small><strong>Oracle University</strong>. 40 hours.</small>
        </h3>
        <h3>Java SE 6 Programming Ed2 <small>2011</small><br>
          <small><strong>Oracle University</strong>. 40 hours.</small>
        </h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h2>Software Development<br> <small>Web Development and Programming Courses</small></h2>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3><a href="https://www.coursera.org/account/accomplishments/records/LG5CAVWDAX7K" target="_blank">Front-End Web UI Frameworks and Tools</a> <small>2017</small><br>
          <small><strong>The Hong Kong University of Science and Technology - Coursera</strong>. 40 hours.</small>
        </h3>
        <h3><a href="https://www.coursera.org/account/accomplishments/records/HQB3PFAGM8X6" target="_blank">HTML, CSS and Javascript</a> <small>2016</small><br>
          <small><strong>The Hong Kong University of Science and Technology - Coursera</strong>. 40 hours.</small>
        </h3>
        <h3><a href="http://education.mongodb.com/downloads/certificates/044becd8fb234b0b8a3091afae103161/Certificate.pdf?_ga=1.230531871.2042425648.1464564145" target="_blank">M101J: MongoDB for Java Developers</a> <small>2016</small><br>
          <small><strong>MongoDB, INC</strong>. 40 hours.</small>
        </h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h2>Personal Development<br><small>Human Talents and Potential Development</small></h2>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3>Foundations: The 7 habits of Highly Effective People <small>2015</small><br>
          <small><strong>FrankleyCovey Organization Services</strong>. 16 hours.</small>
        </h3>
        <h3>Principles and Foundations of Coaching <small>2015</small><br>
          <small><strong>Ferreter&iacute;a EPA</strong>. 12 hours.</small>
        </h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h2>Others<br><small>Other Courses and Specializations</small></h2>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <h3><a href="https://www.udemy.com/certificate/UC-EQGIXOMP/" target="_blank">Scrum Master + Agile Revolution + Lead Scrum Teams</a> <small>2018</small><br>
          <small><strong><a href="https://www.linkedin.com/in/fabianschwartz/" target="_blank">Fabian Schwartz</a></strong> at <strong>Udemy</strong>. 3 hours.</small>
        </h3><h3>CCNA 2: Routing Technologies <small>2003</small><br>
        <small><strong>Cisco Systems Networking Academy</strong>.</small>
      </h3>
        <h3>CCNA 1: Network Foundations <small>2003</small><br>
          <small><strong>Cisco Systems Networking Academy</strong>.</small>
        </h3>
      </div>
    </div>
  </div>
</section>
