<section id="welcome" class="section">
  <div class="container content content-top content-bottom louder">
    <div class="row">
      <div class="col-xs-12 col-md-5 content-left">
        <h1>Hello, I'm Alexis Bravo!</h1>
        <h3>... And I'm a Web Developer</h3>
        <hr>
        <p>
          <span class="label label-primary">HTML</span>
          <span class="label label-primary">CSS</span>
          <span class="label label-primary">Bootstrap</span>
          <span class="label label-primary">Angular</span>
          <span class="label label-primary">TypeScript</span>
          <span class="label label-primary">Cordova</span>
          <span class="label label-primary">Ionic</span>
          <span class="label label-primary">Firebase</span>
          <span class="label label-primary">Heroku</span>
          <span class="label label-primary">Web Design Principles</span>
          <span class="label label-warning">Ruby On Rails</span>
          <span class="label label-warning">PHP</span>
          <span class="label label-warning">CakePHP</span>
          <span class="label label-success">Java</span>
          <span class="label label-success">Java EE</span>
          <span class="label label-success">JPA / Jersey</span>
          <span class="label label-success">Spring Framework</span>
          <span class="label label-success">Maven</span>
          <span class="label label-success">Compiere ERP</span>
          <span class="label label-success">BIRT Reports</span>
          <span class="label label-success">Clean Code</span>
          <span class="label label-success">Software Design Patterns</span>
          <span class="label label-danger">RDBMS</span>
          <span class="label label-danger">MySQL</span>
          <span class="label label-danger">DB2</span>
          <span class="label label-danger">MongoDB</span>
          <span class="label label-danger">Mongo Cloud</span>
          <span class="label label-danger">Mongo Stitch</span>
          <span class="label label-default">SCRUM (PSM I)</span>
          <span class="label label-default">GIT</span>
          <span class="label label-info">Test Automation</span>
          <span class="label label-info">JUnit</span>
          <span class="label label-info">Selenium API</span>
        </p>
        <hr>
        <ul class="list-inline">
          <li><a class="btn btn-lg btn-social-icon btn-google" href="https://plus.google.com/+AlexisJos%C3%A9BravoLlovera" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="btn btn-lg btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/alexis-jose-bravo-llovera" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="btn btn-lg btn-social-icon btn-github" href="http://github.com/thisisalexis" data-toggle="tooltip" data-placement="bottom" title="ThisIsAlexis" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a class="btn btn-lg btn-social-icon btn-instagram" href="http://instagram.com/thisisalexis1" data-toggle="tooltip" data-placement="bottom" title="ThisIsAlexis1" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a class="btn btn-lg btn-social-icon btn-instagram" href="https://stackoverflow.com/users/6035392/thisisalexis" data-toggle="tooltip" data-placement="bottom" title="ThisIsAlexis" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
          <li><button type="button" class="btn btn-lg btn-social-icon btn-linkedin" target="_top" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="ThisIsAlexis" title="Call me on Skype"><i class="fa fa-skype"></i></button></li>
          <li><button type="button" class="btn btn-lg btn-social-icon btn-facebook" target="_top" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="You can write me to alexis.ve@gmail.com" title="Write me an E-mail"><i class="fa fa-envelope-o"></i></button></li>
          <li><button type="button" class="btn btn-lg btn-social-icon btn-success" target="_top" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="+593 (99) 0426072" title="Call me on phone"><i class="fa fa-phone"></i></button></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <p>I'm an <strong>Informatics Engineer</strong> who is passionate about developing <strong>Web Applications</strong> and has been doing it for the last ten years.</p>
        <p>
          As a programmer, I think Web Development demands us to understand not only programming languages,
          but a set of technologies, techniques, design patterns, best practices, frameworks and a wide range
          of solutions, in order to understand the big picture of our projects and the needs of our teams.
        </p>
        <p>Come and <a routerLink="/contact-me" role="button" data-toggle="tooltip" data-placement="top" title="Contact me, so we can talk!">join me</a> in my path to learn and apply all of this solutions so we can develop better Web Applications together.</p>
      </div>
    </div>
  </div>
</section>
