<footer id="footer">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <h3>About this Site</h3>
          <p>This site has been completely developed by me, using <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://angular.io" target="_blank">Angular</a> and <a href="https://firebase.google.com/" target="_blank" title="Firebase">Firebase</a>, hosted over different <a href="https://aws.amazon.com/" title="Amazon AWS" target="_blank">AWS Services</a>. <span *ngIf="false">Copyright &copy; {{shortName}} {{ this.currentYear }}</span></p>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-1">
          <h3>Let's get in touch</h3>
          <ul class="list-inline">
            <li><a class="btn btn-sm btn-social-icon btn-linkedin" [href]="linkedInProfile" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="btn btn-sm btn-social-icon btn-github" [href]="githubProfile" data-toggle="tooltip" data-placement="top" title="ThisIsAlexis" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a class="btn btn-sm btn-social-icon btn-instagram" [href]="instagram" data-toggle="tooltip" data-placement="top" title="ThisIsAlexis1" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a class="btn btn-sm btn-social-icon btn-github" [href]="stackOverFlowProfile" data-toggle="tooltip" data-placement="top" title="ThisIsAlexis" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
            <!--<li><button type="button" class="btn btn-sm btn-social-icon btn-linkedin" target="_top" data-toggle="popover" data-placement="top" data-trigger="focus" [attr.data-content]=skype title="Call me on Skype"><i class="fa fa-skype"></i></button></li>-->
            <li><button type="button" class="btn btn-sm btn-social-icon btn-facebook" target="_top" data-toggle="popover" data-placement="top" data-trigger="focus" [attr.data-content]=email title="Write me an E-mail"><i class="fa fa-envelope-o"></i></button></li>
            <li><button type="button" class="btn btn-sm btn-social-icon btn-success" target="_top" data-toggle="popover" data-placement="top" data-trigger="focus" [attr.data-content]=phone title="Call me on phone"><i class="fa fa-phone"></i></button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom" *ngIf="false">
    <div class="container-fluid">
      <div class="row">
        <div id="copyright" class="col-xs-12">
          <span class="inline">Copyright &copy; {{shortName}} {{ this.currentYear }}</span>

          <ul class="list-inline inline">
            <li routerLinkActive="active"><a routerLink="/home" role="button">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/about-me" role="button">About me</a></li>
            <li routerLinkActive="active"><a routerLink="/skills" role="button">Skills</a></li>
            <li routerLinkActive="active"><a routerLink="/experience" role="button">Experience</a></li>
            <li routerLinkActive="active"><a routerLink="/education" role="button">Education</a></li>
            <li routerLinkActive="active"><a routerLink="/certifications" role="button">Certifications</a></li>
            <li routerLinkActive="active"><a routerLink="/contact-me" role="button"><strong>Contact me</strong></a></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</footer>
