<nav id="navbar" class="navbar navbar-default navbar-fixed-top bigger">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home" role="button"><span class="boxed"><strong>Alexis</strong>Bravo</span> <small><strong>Web</strong>Developer</small></a>
    </div>
    <div id="nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home" role="button">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about-me" role="button">About me</a></li>
        <li routerLinkActive="active"><a routerLink="/education" role="button">Education</a></li>
        <li routerLinkActive="active"><a routerLink="/experience" role="button">Experience</a></li>
        <li routerLinkActive="active"><a routerLink="/skills" role="button">Skills</a></li>
        <li routerLinkActive="active"><a routerLink="/contact-me" role="button"><strong>Contact me</strong></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="es.html">Español</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
