<section id="contact-me" class="section chalkboard">
  <div class="container content content-top content-bottom">
    <div class="row">
      <div class="col-xs-12 col-md-5 louder content-left">
        <h1>Contact me</h1>
        <p>Do you have a job offer and want to tell me about it? Would you like to talk about a project or idea?  There are many ways you can be in touch</p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 content-right">
        <p>In the last months I've been working in <strong><a [href]=currentCompanyWebSite target="_blank">{{currentCompany}}</a></strong>, {{currentCompanyDescription}}. Here, as a Integration Lead, I'm developing Java and Spring Boot microservices for the BCI Bank.</p>
        <h2>Where Am I?</h2>
        <p>Right now, I'm based on {{currentCountry}}.</p>
        <h2>Call me</h2>
        <p>Do you want to talk? You can call me any time.</p>
        <address>
          <i class="fa fa-mobile fa-lg"></i> <a href="tel:{{phone}}">{{phone}}</a><br>
        </address>
        <h2>Send me a message</h2>
        <p>Do you prefer to contact me by chat or E-mail? Then add me to Google Hangouts or send me a message.</p>
        <address>
          <i class="fa fa-envelope fa-lg"></i>
          <a href="mailto:{{email}}">{{email}}</a>
        </address>
        <h2>Find me on the Web</h2>
        <p>You can also find me on some social networks out there.</p>
        <ul class="list-inline">
          <!--<li><a class="btn btn-social-icon btn-google" href="https://plus.google.com/+AlexisJos%C3%A9BravoLlovera" target="_blank"><i class="fa fa-google-plus"></i></a></li>-->
          <li><a class="btn btn-social-icon btn-linkedin" href="{{linkedInProfile}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="btn btn-social-icon btn-github" href="{{githubProfile}}" data-toggle="tooltip" data-placement="bottom" title="ThisIsAlexis" target="_blank"><i class="fa fa-github"></i></a></li>
          <!--<<li><a class="btn btn-social-icon btn-instagram" href="http://instagram.com/thisisalexis1" data-toggle="tooltip" data-placement="bottom" title="ThisIsAlexis1" target="_blank"><i class="fa fa-instagram"></i></a></li>-->
        </ul>
      </div>
    </div>
  </div>
</section>
